.content {
    width: 40%;
    height: 80%;
    border: 7px solid brown;
    padding-bottom: 20px;
    background-color: rgb(248, 248, 198);
}
#fox {
    margin-left: 10px;
    border: 15px solid orange;
    width: 63%;
    height: 180px;
    background-image: url('fox.jpg');
    background-size: cover; /* Para cobrir toda a div */
    background-position: center; /* Para centralizar a imagem */
}
#description {
    margin-top: 20px;
    margin-left: 10px;
    width: 80%;
    height: 200px;
    border: 15px dashed orange;
    overflow: scroll;
    background-color: yellow;
}
#lorem{
    font-weight: bold;
}


p{
    font-size: 22px;
}
h1 {
    font-size: 40px;
    margin-left: 12px
}


